body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: #003366;
}

input {
    padding: 10px;
    margin: 5px;
    width: 300px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#resultat,
#stats,
#resultatRecherche {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.passager {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
}

.deja-controle {
    background-color: #ffe7a8;
}

.non-controle {
    background-color: #dff7df;
}